@model Models.ViewModels.ResetPasswordModel

@{
    Layout = null;
}

@section Styles {
    <link rel="stylesheet" href="~/assets/css/login.css" />
    <script src="~/assets/js/login.js"></script>
}
<link rel="stylesheet" href="~/assets/css/login.css" />
<script src="~/assets/js/login.js"></script>


@{
    ViewData["Title"] = "Reset Your Password";
}


<hr />
<div class="login-box">
    <div class="row">
        <div class="col-md-4 p-2">
            <form asp-action="ResetPasswordTokenCallBack">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="user-box">
                    <div class="form-group">
                        <input asp-for="Email" class="form-control" />
                        <label >Email</label>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="user-box">
                    <div class="form-group">
                        <input asp-for="Password" class="form-control" />
                        <label >Password</label>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="user-box">
                    <div class="form-group">
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <label >Confirmed Password</label>
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">

                    <input asp-for="Token" type="hidden" class="form-control" />

                </div>
                <br />
                <br />
                <br />
                <div class="Linky">
                    <span></span>
                    <span></span>
                    <span> </span>
                    <span></span>
                    <div class="form-group">
                        <input type="submit" id="submitt" value="Submit" class="btn btn-primary" />
                    </div>
                </div>
                <div class="form-group">
                    <a style="color:#03e9f4" asp-action="Login">Back to Login</a>
                </div>
            </form>
        </div>
    </div>
</div>

