.container {
    padding-top: 5%;
    padding-bottom: 5%;
}

.center {
    position: relative;
    left: 2%;
}

.pad-elements {
    padding-bottom: 5%;
}

.btnCancel {
    padding: 0;
}

.btnCheck {
    padding-left: 5%;
}

.posBtn {
    left: 15%;
}

.checkout {
    padding: 0;
    background-color: forestgreen;
}

.teamsFrom {
    position: relative;
    left: 16%;
}