* {
    margin: 0;
    padding: 0;
    border: 0;
}

.mainConatainerPlayGround {
    width: 96%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 40px;
    grid-row-gap: 50px;
    margin-bottom: 50px
}

.myPadd {
    padding-top: 3%;
}

img {
    height: 300px;
    width: 100%;
}

.item {
    padding-left: 5px;
    padding-right: 5px;
}

.item-card {
    transition: 0.5s;
    cursor: pointer;
}

.item-card-title {
    font-size: 15px;
    transition: 1s;
    cursor: pointer;
}

    .item-card-title i {
        font-size: 15px;
        transition: 1s;
        cursor: pointer;
        color: #ffa710
    }

.card-title i:hover {
    transform: scale(1.25) rotate(100deg);
    color: #18d4ca;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
}

.card-text {
    height: 80px;
}

.card::before, .card::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale3d(0, 0, 1);
    transition: transform .3s ease-out 0s;
    background: rgba(255, 255, 255, 0.1);
    content: '';
    pointer-events: none;
}

.card::before {
    transform-origin: left top;
}

.card::after {
    transform-origin: right bottom;
}

.card:hover::before, .card:hover::after, .card:focus::before, .card:focus::after {
    transform: scale3d(1, 1, 1);
}

/******Search Bar******/

.mybody {
    padding-top: 8px;
}

.product {
    margin-bottom: 30px;
}

.product-inner {
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    padding: 10px;
}

.product img {
    margin-bottom: 10px;
}

.searchclass {
    opacity: 0;
}

.displayFelex {
    margin-left: 80px;
    display: flex;
}

    .displayFelex > div {
        margin-right: 50px;
    }

.stadiumsTitle {
    margin-left: 30px !important;
}